* {
    padding: 0;
    margin: 0;
}
canvas {
    background: var(--main-color);
    display: block;
    margin: 16px auto;
}

#canvas-container{
    display: block;
}

#easy, #medium, #hard {
    margin: 5px 5px;
    color: var(--text-color-light);
    background: var(--main-accent);
    border: 3px solid var(--secondary-accent);
    padding: 10px;
    clip-path: var(--box-bottom-left-cutout);
    font-size: 16px;
    min-width: 150px;
}

.buttons{
    display: flex;
    justify-content: center;
}

#runButton:hover {
    cursor: pointer;
    background-color: var(--tertiary-accent);
}