#game-button{
    left: 0;
    clip-path: var(--box-bottom-right-cutout);
    height: 20px;
    padding: 16px 24px 16px 8px;
    p {
        margin: 0;
        text-align: right;
    }
}

#game-button:hover {
    background-color: var(--main-accent);
}

#game-button:hover .menu-text{
    display: block;
}

#game-button:hover .points-display{
    display: none;
}

.menu-text {
    display: none;
}

.game-settings-box {
    display: none;
}

#game-settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px 0 0 48px;
}

#game-settings .content-box {
    min-height: 50px;
    min-width: 240px;
}


/*
todo: add in points effect on mouse click
todo: add in points effect on points display?
 */
