#game-button{
    left: 0;
    clip-path: var(--box-bottom-right-cutout);
    height: 20px;
    padding: 16px 24px 16px 8px;
    p {
        margin: 0;
        text-align: right;
    }
}

#game-button:hover {
    background-color: var(--main-accent);
}

#game-button:hover .menu-text{
    display: block;
}

#game-button:hover .points-display{
    display: none;
}

.menu-text {
    display: none;
}

.game-settings-box {
    display: none;
    padding: 0 32px;
}

#game-settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

#game-settings .content-box {
    min-height: 50px;
    min-width: 240px;
    justify-content: center;
}


.game-debug{
    position: sticky;
    bottom: 8px;
    left: 8px;
}

#game-bar-button:hover .menu-text {
    display: block;

}

#game-bar-button:hover .points-display{
    display: none;
}

.points-display, .menu-text{
    margin: 0;
}


/*
todo: add in points effect on mouse click
todo: add in points effect on points display?
 */

@media screen and (min-width: 800px) {
    #game-button {
        display: none;
    }
}