#game-button{
    left: 0;
    clip-path: var(--box-bottom-right-cutout);
    height: 20px;
    padding: 16px 24px 16px 8px;
    p {
        margin: 0;
        text-align: right;
    }
}

#game-button:hover {
    background-color: var(--tertiary-accent);
    cursor: pointer;

}

#game-button:hover .menu-text{
    display: block;
}

#game-button:hover .points-display{
    display: none;
}

.menu-text {
    display: none;
}

.game-settings-box {
    display: none;
    padding: 0 32px;
    position: absolute;
    margin: 64px 160px;
    background: var(--main-accent);
    border: 6px solid var(--secondary-accent);
    clip-path: var(--tile-all-cutout);
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;

    .content-box {
        clip-path: var(--box-bottom-left-cutout);
        border: none;
    }

    .content-box:hover {
        background-color: var(--main-color);
        cursor: pointer;
    }
}

#game-settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    max-width: 240px;
}

#game-settings .content-box {
    min-height: 50px;
    width: 240px;
    justify-content: center;
    align-content: center;
    text-align: center;
    z-index: 10;
}


.game-debug{
    position: sticky;
    bottom: 8px;
    left: 8px;
}

#game-bar-button{
    display: none;
}

#game-bar-button:hover .menu-text {
    display: block;

}

#game-bar-button:hover .points-display{
    display: none;
}

.points-display, .menu-text{
    margin: 0;
}


/*
todo: add in points effect on mouse click
todo: add in points effect on points display?
 */

@media screen and (min-width: 700px) {
    #game-settings {
        max-width: 610px;
    }
}

@media screen and (min-width: 800px) {
    #game-button {
        display: none;
    }

    #game-bar-button {
        display: block;
    }
}