:root {
    --main-color: #9744be;
    --secondary-color: #c18eda;
    --main-accent: #793698;
    --secondary-accent: #d6b4e7;
    --tertiary-accent: #ac68cc;
    --text-color-dark: var(--main-accent);
    --text-color-light: var(--secondary-accent);
    --box-padding: 16px;
    --font: 'Orbitron';


    --low-cutout: 20px;
    --high-cutout: calc(100% - var(--low-cutout));

    --low-cutout-short: 40px;
    --high-cutout-short: calc(100% - var(--low-cutout-short));

    --box-top-right-cutout: polygon(0 0, 0 100%, 100% 100%, 100% var(--low-cutout), var(--high-cutout) 0);
    --box-bottom-left-cutout: polygon(0 0, 0 var(--high-cutout), var(--low-cutout) 100%, 100% 100%, 100% 0);
    --box-bottom-right-cutout: polygon(0 0, 0 100%, var(--high-cutout) 100%, 100% var(--high-cutout), 100% 0);
    --box-top-left-cutout: polygon(0 var(--low-cutout), 0 100%, 100% 100%, 100% 0, var(--low-cutout) 0);

    --tile-top-right-cutout: polygon(0 0, 0 var(--high-cutout-short),var(--low-cutout-short) 100%, 100% 100%, 100% var(--low-cutout-short), var(--high-cutout-short) 0);
    --tile-top-left-cutout: polygon(0 var(--low-cutout-short), 0 100%,var(--high-cutout-short) 100%, 100% var(--high-cutout-short), 100% 0, var(--low-cutout-short) 0);

    --tile-all-cutout: polygon(0 var(--low-cutout-short),0 var(--high-cutout-short),var(--low-cutout-short) 100%, var(--high-cutout-short) 100%, 100% var(--high-cutout-short), 100% var(--low-cutout-short),var(--high-cutout-short) 0, var(--low-cutout-short) 0);
}


body {
    margin: 0;
    color: var(--text-color-dark);
    background-color: var(--secondary-color);

    z-index: -20;
    font-family: var(--font), sans-serif;
    overflow-x: hidden;
    max-width: 100%;
    height: 100%;
}

main {
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-top: 80px;
}

nav {
    z-index: 100;
    width: 100%
}

a {
    text-decoration: none;
    color: var(--text-color-light);
    :link, :visited, :active , :hover{
        text-decoration: none;
        color: var(--text-color-light);
    }
}
button {
    font-family: var(--font), sans-serif;
}

.nav-bar {
    background-color: var(--main-color);
    width: 140px;
    height: calc(100% - 64px);
    top: 0;
    right: -240px;
    z-index: 105;
    padding: 64px 0 0 0;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: flex-start;
    position: absolute;
}

.content-box:nth-child(2n){
    clip-path: var(--tile-top-right-cutout);
}

.content-box:nth-child(2n-1){
    clip-path: var(--tile-top-left-cutout);
}

.content-box:nth-child(4n) {
    h2{
        top: 0;
        left: 16px;
    }
    p{
        bottom: 0;
        right: 16px;
        padding-top: calc(var(--low-cutout) * 2);
        padding-right: var(--low-cutout);
        padding-left: calc(var(--low-cutout) * 2);
        text-align: right;
    }
    p & .layers{
        padding-top: 20px;
    }
    p.layers::before, p.layers::after{
        padding-top: 20px;
    }
}

.content-box:nth-child(4n - 3) {
    h2{
        bottom: 0;
        left: 16px;
    }
    p{
        top: 0;
        right: 16px;
        padding-bottom: calc(var(--low-cutout) * 2);
        padding-right: var(--low-cutout);
        padding-left: calc(var(--low-cutout) * 2);
        text-align: right;
    }
}

.content-box:nth-child(4n - 2) {
    h2{
        bottom: 0;
        right: 16px;
    }
    p{
        top: 0;
        left: 16px;
        padding-bottom: calc(var(--low-cutout) * 2);
        padding-left: var(--low-cutout);
        padding-right: calc(var(--low-cutout) * 2);
        text-align: left;
    }
}

.content-box:nth-child(4n - 1) {
    h2{
        top: 0;
        right: 16px;
    }
    p{
        bottom: 0;
        left: 16px;
        padding-left: var(--low-cutout);
        padding-right: calc(var(--low-cutout) * 2);
        padding-top: calc(var(--low-cutout) * 2);
        text-align: left;
    }
}

.ui-box{
    clip-path: var(--box-bottom-left-cutout);
    background-color: var(--main-accent);
    color: var(--text-color-light);
    margin: 4px;

    min-width: 60px;
    max-height: 30px;
    text-align: center;
    span {

        text-align: center;
        width: 100%;
    }
}

.ui-box, .content-box{
    padding: var(--box-padding);
    border: solid 3px var(--secondary-accent);
    border-radius: 2px;
    h2, p {
        span{
            position: relative;
            z-index: 5;
        }
    }
    z-index: -5;
}


#menu-button, #game-button{
    position: absolute;
    top: 0;
    margin: 4px 8px;
    background-color: var(--main-accent);
    color: var(--text-color-light);
    clip-path: var(--box-bottom-left-cutout);
    padding: var(--box-padding);
    border: solid 3px var(--secondary-accent);
    border-radius: 2px;
    width: 50px;
    z-index: 115;
}

#menu-button{
    right: 0;
}




.ui-box:hover, #menu-button:hover{
    background-color: var(--tertiary-accent);
    cursor: pointer;
}

#games-content .content-box{
    padding: 0;

    a {
        margin-top: -13px;
        padding-top: 13px;
    }
}

#games-content .content-box:nth-child(4n-3){
    p{
        padding-bottom: calc(var(--low-cutout) * 2.5);
    }
}

#games-content .content-box:nth-child(4n-2){
    p{
        padding-bottom: calc(var(--low-cutout) * 2.5);
    }
}

#games-content .content-box:nth-child(4n-1){
    p{
        padding-left: 0;
        padding-right: calc(var(--low-cutout) * 2);
        padding-top: calc(var(--low-cutout) * 2.5);
    }
}

#games-content .content-box:nth-child(4n){
    p{
        padding-top: calc(var(--low-cutout) * 2.5);
        padding-left: var(--low-cutout);
        padding-bottom: 6px;
    }
}

.content-box{
    clip-path: var(--box-top-right-cutout);
    background-color: var(--tertiary-accent);
    color: var(--text-color-light);
    --low-cutout-short: 10%;
    margin: 8px 16px;
    padding: 16px;
    min-height: 170px;
    position: relative;
    border-width: 6px;

    h2{
        position: absolute;
    }

    p{
        position: relative;
    }
    a{
        display: block;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }
}

#games-content .content-box:hover{
    background-color: var(--main-accent);
    cursor: pointer;
}

@media screen and (max-width: 250px) {
    .content-box{
        margin: 4px 0;
    }

    main .content-box:nth-child(n){
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 370px) {
    h1 {
        margin-top: 21px;
    }

}


@media screen and (min-width: 800px){
    .nav-bar{
        flex-direction: row;
        position: inherit;
        padding: 8px 0 8px 0;
        margin-left: -15px;
        width: calc(100% + 30px);

        justify-content: center;
    }

    nav {
        top: 0;
        position: sticky;
    }


    .ui-box:nth-child(4n - 3){
        clip-path: var(--box-bottom-left-cutout);
    }

    .ui-box:nth-child(4n - 1){
        clip-path: var(--box-top-left-cutout);
    }

    .ui-box:nth-child(4n){
        clip-path: var(--box-bottom-right-cutout);
    }

    .ui-box:nth-child(4n-2){
        clip-path: var(--box-top-right-cutout);
    }

    #menu-button {
        display: none;
    }



    .content-box {
        max-width: min(40%, 500px);
        position: relative;
    }


    .content-box:nth-child(4n){
        clip-path: var(--tile-top-left-cutout);
        h2{
            top: 0;
            right: 16px;
            left: unset;
        }
        p{
            bottom: 0;
            left: 16px;
            padding-left: var(--low-cutout);
            padding-right: calc(var(--low-cutout) * 2);
            padding-top: calc(var(--low-cutout) * 2);
            text-align: left;
        }


    }



    .content-box:nth-child(4n-1){
        clip-path: var(--tile-top-right-cutout);
        h2{
            top: 0;
            left: 16px;
        }
        p{
            bottom: 0;
            right: 16px;
            padding-top: calc(var(--low-cutout) * 2);
            padding-right: var(--low-cutout);
            padding-left: calc(var(--low-cutout) * 2);
            text-align: right;
        }
    }

    .content-box:nth-child(4n-2){
        clip-path: var(--tile-top-right-cutout);
    }

    .content-box:nth-child(4n-3){
        clip-path: var(--tile-top-left-cutout);
    }
}

